@{
    ViewData["Title"] = "Add Request";
}

<h2>Add Request</h2>
<br />
<br />

<form action="AddRequest" method="post">
    <div class="form-group">
        <label for="value">Enter Value</label>
        <input name="value" type="number" step="0.01" class="form-control" id="interestValue"placeholder="Enter Value">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>