<p>request works!</p>
<br />
<br />
<br />
<br />
{{ requests | json }}
<div *ngFor="let request of requests">
  <div *ngFor="let computation of request.computations">
    <table>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Year</th>
            <th scope="col">Value</th>
            <th scope="col">Interest Rate</th>
            <th scope="col">Future Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ computation.year }}</th>
            <td>{{ computation.value }}</td>
            <td>{{ computation.interestRate }}</td>
            <td>{{ computation.futureValue }}</td>
          </tr>
        </tbody>
      </table>
    </table>
  </div>
</div>
